<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  </head>
  <body>
    <div id="container">
      <div id="detailbox">
        <a href="/ap-pictures/{{apinfo.number}}.jpg">
          <img src="/ap-pictures/{{apinfo.number}}.jpg">
        </a>
        <div id="detailbox-info">
          <h1>AP {{apinfo.number}}</h1>
          <ul>
            <li>Switch: {{ apinfo.switch }}</li>
            <li>SwitchPort: {{ apinfo.switchport }}</li>
          </ul>
        </div>
      </div>
      <div id="friedmapdetail"></div>
    </div>
    <script>
      var mymap = L.map('friedmapdetail').setView([50.79964, 4.66301], 17);


      L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '<a href="https://www.openstreetmap.org/fixthemap">Fix a problem with the map!</a> | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          subdomains: ['a','b','c']
      }).addTo( mymap );

      var redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        iconSize: [13, 20],
        iconAnchor: [6, 20],
        popupAnchor: [1, -17],
      });

      var blueIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
        iconSize: [13, 20],
        iconAnchor: [6, 20],
        popupAnchor: [1, -17],
      });

      fetch('{{hotspots}}')
        .then(response => response.json())
        .then(geojson => {
          L.geoJson(geojson, {
            pointToLayer: function(feature, latlng) {
              return L.marker(latlng, {
                icon: redIcon
              });
            },
            onEachFeature: function (feature, layer) {
              layer.bindPopup("<b>AP:</b> " +feature.properties.name +"<br />"+
                              "<a href='apdetail?number=" + feature.properties.name+"'>show AP info</a>");
            }
          }).addTo( mymap );
        });
      </script>
    </div>
  </body>
</html>
